## Item 11.2
11.1 was created in a seperate .py file to allow this to work.

In [5]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [1]:
import sqlite3
import sqlalchemy as sa

conn = sqlite3.connect('books.db')
curs = conn.cursor()
curs.execute('''CREATE TABLE books
    (title VARCHAR(80) PRIMARY KEY,
     author VARCHAR(80),
     year INT)''')
curs.close()
conn.close()

conn = sa.create_engine('sqlite:///books.db')
meta = sa.MetaData()
zoo = sa.Table('books', meta,
      sa.Column('title', sa.String, primary_key=True),
      sa.Column('author', sa.String),
      sa.Column('year', sa.Integer)
      )
meta.create_all(conn)
result = conn.execute(books.select())
rows = result.fetchall()
print(rows)

AttributeError: 'Engine' object has no attribute 'execute'